$background_cinza: #C1C1C1;
$background_cinzaClaro: #F0F0F0;
$background_vermelho: #C80000;
$background_preto: #000000;
$background_branco: #ffffff;

$borda_branca: #ffffff;
$borda_preta: #000000;
$borda_cinza: #C1C1C1;

$cor_texto_vermelho: #C80000;
$cor_texto_branca: #ffff;
$cor_texto_cinza: #ACACAC;
$cor_texto_cinzaClaro: #E1E1E1;
$cor_texto_preto: #000000;
$cor_texto_verde: #2E5E56;

$cor_vermelho: #C80000;
$cor_preto: #000000;
$cor_branco: #ffff;