.investimentos {
    .grid_investimentos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 0 200px 55px;
        .left {
            .imagem {
                background-image: url(../../../imagens/icones/IconeBoxBank.png);
                background-repeat: no-repeat;
                background-size: 45px;
                height: 50px;
                width: 50px;
            }

            div {
                h1 {
                    @include fonte_Peso_48px;
                    margin: 32px 0 50px 0;
                }

                p {
                    @include fonte_24px;
                    margin-bottom: 50px;
                    width: 530px;
                }
            }

            ul {
                div {
                    div {
                        padding: 16px 0;

                        li {
                            @include fonte_Peso_48px;
                            align-items: center;
                            color: $cor_texto_cinzaClaro;
                            cursor: default;
                            display: flex;

                            i {
                                display: none;
                                font-size: 16px;
                                margin-right: 8px
                            }

                            &:hover {
                                color: $cor_texto_preto;
                                i {
                                    display: block;
                                }
                                + span {
                                    display: block
                                }
                            }
                        }
                    }
                    span {
                        @include fonte_24px;
                        display: none;
                        margin-top: 10px;
                    }
                }
            }
        }
        .right {
            .celular {
                border-radius: 32px;
                border: 8px solid $cor_preto;
                height: 600px;
                margin: 0 auto;
                overflow: hidden;
                position: relative;
                width: 330px;

                #inicial {
                    #inicial {
                        position: relative;
                    }
                    
                    #inicial h1, #inicial h2,  #inicial p, #inicial button {
                        position: absolute;
                    }

                    h1 {
                        
                    }
                    
                    @keyframes animaTitulos {
                        100% {

                        }

                        0% {

                        }
                    }

                    @keyframes animaBtn_P {
                        100% {

                        }

                        0% {

                        }
                    }
                }

                    &::before {
                        background-color: $cor_preto;
                        border-radius: 0 0 30px 30px;
                        content: '';
                        height: 14px;
                        left: 0;
                        margin: 0 auto;
                        position: absolute;
                        right: 0;
                        width: 60px;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        flex-direction: column;
                        
                        h1 {
                            @include fonte_Peso_32px;
                            width: 280px;
                        }
                        
                        h2 {
                            @include fonte_24px;
                            width: 280px;
                            padding: 16px 0
                        }
                        
                        p {
                            @include fonte_16px;
                        }
                        
                        button {
                            background-color: $background_vermelho;
                            border-radius: 50px;
                            color: $cor_texto_branca;
                            cursor: pointer;
                            height: 40px;
                            margin-top: 16px;
                            width: 150px;
                        }
                    }
            }
        }
    }
    
    .grid_produtos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 0 200px 55px;
        .left {
            h1 {
                @include fonte_Peso_48px;
                color: $cor_texto_vermelho;
                margin-bottom: 140px;
                text-decoration: line-through;
                width: 320px;
            } 
        }
        .right {
            .conteudo_investimento {
                h1 {
                    @include fonte_Peso_48px;
                }
                p {
                    @include fonte_24px;
                    padding: 32px 0;
                    width: 660px;
                } 
                
                ul {
                    div {
                        div {
                            padding: 16px 0;
    
                            li {
                                @include fonte_Peso_48px;
                                align-items: center;
                                color: $cor_texto_cinzaClaro;
                                cursor: default;
                                display: flex;
    
                                i {
                                    display: none;
                                    font-size: 16px;
                                    margin-right: 8px
                                }
    
                                &:hover {
                                    color: $cor_texto_preto;
                                    i {
                                        display: block;
                                    }
                                    + span {
                                        display: block
                                    }
                                }
                            }
                        }
                        span {
                            @include fonte_24px;
                            display: none;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    
    .grid_abrirConta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 140px 0 150px 55px;
        .left {
            h2 {
                @include fonte_Peso_32px;
                margin-bottom: 50px;
                width: 280px;
            }
            ul {

                li:first-child {
                    &:hover {
                        color: $cor_texto_vermelho;
                    }
                  }

                li {
                    @include fonte_24px;
                    padding: 16px 0;
                    a {
                        cursor: pointer; 
                    }
                    span {
                        color: $cor_texto_vermelho;
                    }
                }
            }
            .cards_abrirConta {
                display: flex;
                align-items: center;
                .seta {
                    background-image: url(../../../imagens/icones/seta_vermelha.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 140px;
                    margin: 85px 64px 0 64px;
                    width: 140px;
                }
                .card {
                    align-items: center;
                    background-color: $background_preto;
                    border-radius: 5000px;
                    display: flex;
                    height: 140px;
                    justify-content: center;
                    width: 140px;
                    margin-top: 85px;
                }

                @mixin formatacao {
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 140px;
                    width: 140px;
                }

                .primeiro {
                    @include formatacao;
                    background-image: url(../../../imagens/icones/icone_dinheiro.svg);
                }

                .segundo {
                    @include formatacao;
                    background-image: url(../../../imagens/icones/Icone_saco_dinheiro.svg);
                }
            }
        }
        .right {
            background-image: url(../../../imagens/modelos/Imagem_Investimento.png);
            border-radius: 5000px;
            height: 500px;
            margin: 0 auto;
            text-align: center;
            width: 500px;
        }
    }
}